In [2]:
import pandas as pd

In [3]:
# Read the CSV files
calendar_df = pd.read_csv('data/calendar2024.csv')
listings_df = pd.read_csv('data/listings2024.csv') 
reviews_df = pd.read_csv('data/reviews2024.csv')

In [23]:
cal = calendar_df
lis = listings_df
rev = reviews_df

## TODO
- [ ] Many variables are stored as generic objects, instead of their actual datatype
- [ ] ETL: Extract, Transform, Load

---
> Attributes of datasets identified at initial look
- Primary keys: cal.listing_id, list.id, rev.listing_id

In [ ]:
cal.drop(columns=['adjusted_price'], inplace=True)

In [24]:
cal['price'] = cal['price'].str.replace(r'[\$,]', '', regex=True)
cal = cal.rename(columns={'price': 'price($)'})
cal['price($)'] = pd.to_numeric(cal['price($)'], errors='coerce')

In [36]:
# Get columns with less than 10 unique values
low_unique_cols = [col for col in lis.columns if lis[col].nunique() < 5]
print("Columns with less than 10 unique values:")
for col in low_unique_cols:
    print(f"{col}: {lis[col].nunique()}")

# lis.nunique() if lis.nunique()< 10

Columns with less than 10 unique values:
scrape_id: 1
last_scraped: 2
source: 2
host_response_time: 4
host_is_superhost: 2
host_has_profile_pic: 2
host_identity_verified: 2
neighbourhood_group_cleansed: 0
room_type: 4
calendar_updated: 0
has_availability: 2
calendar_last_scraped: 2
license: 0
instant_bookable: 2
calculated_host_listings_count_shared_rooms: 4

In [5]:
cal[:5]
# calendar_df[calendar_df['listing_id'] == 31094]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,586421,2024-06-30,f,$250.00,NaN,4.0,31.0
1,586421,2024-07-01,f,$250.00,NaN,4.0,31.0
2,586421,2024-07-02,t,$250.00,NaN,4.0,31.0
3,586421,2024-07-03,f,$250.00,NaN,4.0,31.0
4,586421,2024-07-04,f,$250.00,NaN,4.0,31.0

In [7]:
lis[:5]

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,31094,https://www.airbnb.com/rooms/31094,20240629155650,2024-06-30,previous scrape,"Beautiful, spacious, central, renovated Penthouse","Welcome to our home, we hope you will enjoy Wo...","What else is nearby?<br />To be honest, We thi...",https://a0.muscache.com/pictures/miso/Hosting-...,129976,...,4.82,4.80,4.53,NaN,f,1,1,0,0,0.11
1,262961,https://www.airbnb.com/rooms/262961,20240629155650,2024-06-30,city scrape,192m2 FLAT+ 8m2 BALCONY IN CENTER NØRREBRO HOOD,If you are looking for a large apartment in ce...,TIME OUT - The world’s coolest neighbourhoods ...,https://a0.muscache.com/pictures/261aa506-7b13...,1379904,...,4.94,4.89,4.53,NaN,f,1,1,0,0,0.24
2,263036,https://www.airbnb.com/rooms/263036,20240629155650,2024-06-30,city scrape,Bright flat in central location,NaN,NaN,https://a0.muscache.com/pictures/17770169/f1fb...,1232471,...,4.86,4.81,4.67,NaN,f,1,1,0,0,0.14
3,32379,https://www.airbnb.com/rooms/32379,20240629155650,2024-06-30,city scrape,"155 m2 artist flat on Vesterbro, with 2 bathrooms",You enter a narrow entrance and feel the good ...,"Værnedamsvej area is super hip area, we call i...",https://a0.muscache.com/pictures/miso/Hosting-...,140105,...,4.91,4.89,4.71,NaN,f,2,1,1,0,0.49
4,263708,https://www.airbnb.com/rooms/263708,20240629155650,2024-06-30,city scrape,Urban garden on Vesterbro rooftop,NaN,NaN,https://a0.muscache.com/pictures/8ce36f40-ac59...,1383888,...,5.00,4.67,4.00,NaN,f,1,1,0,0,0.02

In [8]:
reviews_df[:5]

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,31094,79346,2010-08-16,171607,Ben,"We had a great stay. Conveniently located, qui..."
1,31094,166275,2011-01-05,306860,Makita,It was a very good stay. The appartment was re...
2,31094,1452299,2012-06-10,1321058,Pierre,Really enjoyed my time at Ebbe's place. It is...
3,31094,6766430,2013-08-24,2182771,Sussie,"The apartment was very well located, 10-15 min..."
4,31094,6827217,2013-08-26,8025926,Wil,"This is a great flat, very clean with everythi..."

In [12]:
lis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20909 entries, 0 to 20908
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            20909 non-null  int64
 1   listing_url                                   20909 non-null  object
 2   scrape_id                                     20909 non-null  int64
 3   last_scraped                                  20909 non-null  object
 4   source                                        20909 non-null  object
 5   name                                          20909 non-null  object
 6   description                                   20235 non-null  object
 7   neighborhood_overview                         8984 non-null   object
 8   picture_url                                   20909 non-null  object
 9   host_id                                       20909 non-null  int64
 10  host_url                                      20909 non-null  object
 11  host_name                                     20908 non-null  object
 12  host_since                                    20908 non-null  object
 13  host_location                                 17480 non-null  object
 14  host_about                                    8866 non-null   object
 15  host_response_time                            14441 non-null  object
 16  host_response_rate                            14441 non-null  object
 17  host_acceptance_rate                          17161 non-null  object
 18  host_is_superhost                             20685 non-null  object
 19  host_thumbnail_url                            20908 non-null  object
 20  host_picture_url                              20908 non-null  object
 21  host_neighbourhood                            5417 non-null   object
 22  host_listings_count                           20908 non-null  float64
 23  host_total_listings_count                     20908 non-null  float64
 24  host_verifications                            20908 non-null  object
 25  host_has_profile_pic                          20908 non-null  object
 26  host_identity_verified                        20908 non-null  object
 27  neighbourhood                                 8984 non-null   object
 28  neighbourhood_cleansed                        20909 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      20909 non-null  float64
 31  longitude                                     20909 non-null  float64
 32  property_type                                 20909 non-null  object
 33  room_type                                     20909 non-null  object
 34  accommodates                                  20909 non-null  int64
 35  bathrooms                                     13660 non-null  float64
 36  bathrooms_text                                20903 non-null  object
 37  bedrooms                                      20300 non-null  float64
 38  beds                                          13660 non-null  float64
 39  amenities                                     20909 non-null  object
 40  price                                         13596 non-null  object
 41  minimum_nights                                20909 non-null  int64
 42  maximum_nights                                20909 non-null  int64
 43  minimum_minimum_nights                        20909 non-null  int64
 44  maximum_minimum_nights                        20909 non-null  int64
 45  minimum_maximum_nights                        20909 non-null  int64
 46  maximum_maximum_nights                        20909 non-null  int64
 47  minimum_nights_avg_ntm                        20909 non-null  float64
 48  maximum_nights_avg_ntm                        20909 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              20437 non-null  object
 51  availability_30                               20909 non-null  int64
 52  availability_60                               20909 non-null  int64
 53  availability_90                               20909 non-null  int64
 54  availability_365                              20909 non-null  int64
 55  calendar_last_scraped                         20909 non-null  object
 56  number_of_reviews                             20909 non-null  int64
 57  number_of_reviews_ltm                         20909 non-null  int64
 58  number_of_reviews_l30d                        20909 non-null  int64
 59  first_review                                  17689 non-null  object
 60  last_review                                   17689 non-null  object
 61  review_scores_rating                          17689 non-null  float64
 62  review_scores_accuracy                        17665 non-null  float64
 63  review_scores_cleanliness                     17665 non-null  float64
 64  review_scores_checkin                         17665 non-null  float64
 65  review_scores_communication                   17665 non-null  float64
 66  review_scores_location                        17664 non-null  float64
 67  review_scores_value                           17664 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              20909 non-null  object
 70  calculated_host_listings_count                20909 non-null  int64
 71  calculated_host_listings_count_entire_homes   20909 non-null  int64
 72  calculated_host_listings_count_private_rooms  20909 non-null  int64
 73  calculated_host_listings_count_shared_rooms   20909 non-null  int64
 74  reviews_per_month                             17689 non-null  float64
dtypes: float64(20), int64(21), object(34)
memory usage: 12.0+ MB

In [22]:
print(reviews_df.reviewer_name)

0               Ben
1            Makita
2            Pierre
3            Sussie
4               Wil
            ...
366631      Killian
366632    Sreeremya
366633         Knut
366634      Cyprien
366635      Camille
Name: reviewer_name, Length: 366636, dtype: object

In [ ]:
lis.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,2.090900e+04,2.090900e+04,2.090900e+04,20908.000000,20908.000000,0.0,20909.000000,20909.000000,20909.000000,13660.000000,...,17665.000000,17665.000000,17664.000000,17664.000000,0.0,20909.000000,20909.000000,20909.000000,20909.000000,17689.000000
mean,5.137813e+17,2.024063e+13,1.442690e+08,5.942606,12.671992,NaN,55.680567,12.558550,3.336315,1.103990,...,4.880881,4.917725,4.840928,4.724537,NaN,4.659572,4.458415,0.195849,0.004209,0.776318
std,4.737075e+17,0.000000e+00,1.687214e+08,32.713862,84.689161,NaN,0.019127,0.031304,1.644905,0.326999,...,0.219335,0.191054,0.233053,0.308463,NaN,26.246421,26.226017,0.865031,0.098688,1.124821
min,3.109400e+04,2.024063e+13,5.130000e+02,1.000000,1.000000,NaN,55.615660,12.454000,1.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.140450e+07,2.024063e+13,1.739651e+07,1.000000,1.000000,NaN,55.666280,12.540730,2.000000,1.000000,...,4.830000,4.900000,4.760000,4.620000,NaN,1.000000,1.000000,0.000000,0.000000,0.190000
50%,6.452861e+17,2.024063e+13,6.431141e+07,1.000000,1.000000,NaN,55.681930,12.555170,3.000000,1.000000,...,4.970000,5.000000,4.920000,4.780000,NaN,1.000000,1.000000,0.000000,0.000000,0.420000
75%,9.441256e+17,2.024063e+13,2.097030e+08,1.000000,2.000000,NaN,55.696041,12.580508,4.000000,1.000000,...,5.000000,5.000000,5.000000,5.000000,NaN,1.000000,1.000000,0.000000,0.000000,0.930000
max,1.189116e+18,2.024063e+13,5.862358e+08,667.000000,1972.000000,NaN,55.732470,12.639720,16.000000,8.000000,...,5.000000,5.000000,5.000000,5.000000,NaN,239.000000,239.000000,16.000000,3.000000,42.500000